
.vs/zapatillas-demo-1/xs/UserPrefs.xml
zapatillas-demo-1/obj/Debug/
.vs/zapatillas-demo-1/xs/project-cache/zapatillas-demo-1-Debug.json
.vs/zapatillas-demo-1/xs/project-cache/zapatillas-demo-1-Debug.json
.vs/zapatillas-demo-1/xs/UserPrefs.xml
zapatillas-demo-1/obj/Debug/netcoreapp3.1/zapatillas-demo-1.assets.cache
zapatillas-demo-1/obj/Debug/netcoreapp3.1/zapatillas-demo-1.csproj.AssemblyReference.cache
