@{
    ViewData["Title"] = "Mi Bolsa - Finaliza tu Compra!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1> Mi Bolsa <i class="fas fa-shopping-bag"></i></h1>
</div>


<div class="row text-center">



    <div class="col-md-12 single-product">

        @* deberia ser un foreach con variables de sesion *@

        <h4>@ViewBag.itemSeleccion.Descripcion</h4>
        <img src="~/img/@ViewBag.itemSeleccion.Foto" class="foto-index">
        <p>Total: $ @ViewBag.itemSeleccion.Precio</p>

        <a class="btn btn-success" asp-action="Comprar" asp-route-id="@ViewBag.itemSeleccion.Id">Finalizar mi
            Compra!</a>



    </div>


    <hr />



</div>
