@{
    ViewData["Title"] = "Mi Bolsa - Finaliza tu Compra!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1> Mi Bolsa <i class="fas fa-shopping-bag"></i></h1>
</div>


<div class="row text-center">



    <div class="col-md-12 single-product">
        <a class="btn btn-success">Finalizar Compra!</a>
    </div>


    <hr />



</div>
