<div class="row text-center">


    <div class="col-md-12 single-product">
        <h1>Gracias por su compra!</h1>
    </div>

    <a class="col-md-12 btn btn-success" asp-controller="Productos" asp-action="Index">
        Seguir comprando...
    </a>

    <hr />



</div>