body {
  font-family: 'Raleway', sans-serif;
}

.foto-index {
  max-width: 300px;
}

.foto-details {
  max-width: 500px;
}

.add-to-cart-btn {
  padding-top: 1em;
}

.single-product {
  margin-bottom: 2.5em;
}
