body {
  font-family: 'Raleway', sans-serif;
}

.foto-index {
  max-width: 300px;
}

.foto-stock {
  max-width: 90%;
}

.foto-details {
  max-width: 80%;
}

.add-to-cart-btn {
  padding-top: 1em;
}

.single-product {
  margin-bottom: 2.5em;
}

.navbar-right {
  padding-right: 15px;
}

.main-title {
  padding: 1em;
}

.btn-white {
  color: white !important;
}

.add-to-cart-btn > a {
  color: #fff !important;
}

ul {
  list-style: none;
}

.bag-item {
  padding: 0.3em;
}

.bag-head {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cant-items-div {
  margin: 1em;
}
