@model IEnumerable<zapatillas1.zapatillas1.Models.Venta>

@{
    ViewData["Title"] = "Historial Ventas";

}

<h1>Historial de Ventas.</h1>


<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Fecha</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ventas)
        {
            <tr>
                <td>
                    @item.Descripcion
                </td>
                <td>
                    @item.Fecha
                </td>
                <td>
                    $ @item.MontoTotal
                </td>
            </tr>
        }
    </tbody>
</table>
