@{
    ViewData["Title"] = "Historial Ventas";

}

<h1>Historial de Ventas de @ViewBag.Producto.Descripcion</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id Producto</th>
            <th>Cant</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ventas)
        {
            <tr>
                <td>
                    @item.Id_Producto
                </td>
                <td>
                    @item.CantVenta
                </td>
                <td>
                    @item.Fecha
                </td>

            </tr>
        }
    </tbody>
</table>
